#root {
    max-width: 1280px;
    margin:0;
    padding-left: 50px;
    text-align:start;
  }

  h1 {
    color: #e78f02f3;
  } 

  h2 {
    color: #0113d7d8;
  }

  .button {
    background-color:  #fbb70dfa;
    color: #0113d7d8;
    border-radius: 4px;
    padding: 6px;
    font-weight: 700;
  }

  img {
    width: 200px;
    height: 150px;
  }

  .container {
    padding-bottom: 20px;
  }

  .line {
    height: 0.8px;          
    background-color: #000; 
    margin: 20px 0;       
}